<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	
	<body>
		<div class = 'title-super'><h1>Catalog App - Catalog.html (to remove)</h1></div>
	<div class='container'>


		{% include "catalog_menu.html" %}

		Add item goes here

		<p>Latest items</p>
		{%for i in items%}
			{%category = session.query(Category).filter_by(id=i.category.id).one()%}
			
			<div class="row">
				<div class="col-md-15 item-list">
					{{i.name}}({{category.name}})
				</div>
			</div>
		</a>
		{%endfor%}
	</div>
	
	</body>




</html>

	