<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	
	<body>


	{% include "header.html" %}

	<div class="container">
		<div class="row top-menu">	
			{% include "catalog_menu.html" %}
			<div class="col-md-6 col-md-offset-0 padding-top">
				<div class='list-header'>{{category.name}} Items({{items.count}} items)</div>
				{% if items.count() > 0 %}
				
					{% for i in items %}
				    
						<div class = 'nameAndPrice'>
							
							<a href = "{{url_for('showItem', category_name=category.name, item_name=i.name)}}">
								<span class = 'name'><p>{{i.name}}</p></span>
							</a>
						</div>
						

					{% endfor %}

			 	{% else %}

					<div class = 'nameAndPrice'>
						<span class = 'name'><p>No items found!!!</p></span>
						<p> </p>
					</span>
					</div>



			 	{% endif %}
		 	</div>
		 </div>
	 </div>

	</body>




</html>