<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>  


<!-- GOOGLE PLUS SIGN IN BUTTON-->

          
          <div id="signInButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="168375451406-pmikr862nn05e4254vbbs4rhrqa1neft.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    $('#signInButton').attr('style','display: none')
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      contentType: 'application/octet-stream; charset=utf-8',
      data: authResult['code'],
      success: function(result){
        if(result) {
          $('#result').html('LOgin successful!</br>'+result+'</br> redirectiong...')
          console.log("reached success")
          setTimeout(function() {
            window.location.href = "/restaurant";
          }, 4000);

        }else if(authResult['error']){
            console.log('there was an error' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }

      }
    })
  }
}

</script>


<!--END GOOGLE PLUS SIGN IN BUTTON -->

  </body>

  </html>